---
import BackToPrev from "@components/BackToPrev.astro";
import Container from "@components/Container.astro";
import PostNavigation from "@components/PostNavigation.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { formatDate, readingTime } from "@lib/utils";
import { type CollectionEntry, getCollection } from "astro:content";

const getAdjacentPosts = (
  currentId: string,
  postList: CollectionEntry<"blog">[]
) => {
  const index = postList.findIndex((post) => post.id === currentId);
  return {
    prev: index > 0 ? postList[index - 1] : null,
    next:
      index >= 0 && index < postList.length - 1 ? postList[index + 1] : null,
  };
};

export async function getStaticPaths() {
  const posts = (await getCollection("blog"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
const { prev, next } = getAdjacentPosts(post.id, await getCollection("blog"));
---

<PageLayout
  title={post.data.title}
  description={post.data.description}
  image={post.data.image?.src}
  keywords={post.data.keywords}
>
  <Container>
    <div class="animate">
      <BackToPrev href="/blog"> back to blog </BackToPrev>
    </div>
    <div class="mt-10 itmes-center justify-center flex">
      {
        post.data.image && (
          <img
            src={post.data.image.src}
            width="900px"
            height="300px"
            alt={post.data.title}
            class="h-[300px] w-full object-cover rounded-xl"
          />
        )
      }
    </div>
    <div class="text-center mt-10 mx-12 mb-10 animate">
      <div class="animate text-4xl font-semibold text-black dark:text-white">
        <h1>{post.data.title}</h1>
      </div>
      <div
        class="flex gap-2 items-center justify-center mt-3 text-xs text-muted-foreground"
      >
        <span>
          <img
            src="/logo.webp"
            alt="atul"
            class="inline-block w-6 h-6 rounded-full"
          />
          atul |
        </span>
        <span>{formatDate(post.data.date)}</span>
        <span class="font-light">|</span>
        <span>{readingTime(post.body)}</span>
      </div>
      <div class="flex flex-wrap justify-center gap-2 mt-2 text-xs">
        {
          post.data.tags.map((tag) => (
            <span class="px-2 py-1 text-xs w-max bg-muted-background rounded-full">
              #{tag}
            </span>
          ))
        }
      </div>
    </div>
    <PostNavigation prevPost={prev} nextPost={next} />
    <article class="animate mt-10">
      <Content />
    </article>
  </Container>
</PageLayout>
