---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { headers, SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 items-center justify-between">
      <Link href="/" underline={false}>
        <div class="font-bold text-md tracking-widest">
          <span>{SITE.NAME}</span>
        </div>
      </Link>
      <nav class="flex gap-4">
        {
          headers.map((header) => (
            <Link underline={false} href={header.href}>
              {header.name}
            </Link>
          ))
        }
      </nav>
    </div>
  </Container>
</header>
